.gsp-color {
    grid-color: rgba(111, 111, 111, 0.8);

    cpu-color: rgba(99, 189, 246, 1);
    cpu-total-color: rgba(99, 189, 246, 1);
    cpu-user-color: rgba(10, 216, 68, 1);
    cpu-sys-color: rgba(255, 20, 20, 1);

    mem-user-color: rgba(10, 216, 68, 1);
    mem-cached-color: rgba(90, 90, 40, 1);
    mem-locked-color: rgba(255, 20, 20, 1);
    mem-used-color: rgba(99, 189, 246, 1);
    mem-free-color: rgba(240, 190, 0, 1);
    mem-buffer-color: rgba(240, 85, 0, 1);
    mem-shared-color: rgba(220, 0, 240, 1);
    mem-total-color: white;

    swap-used-warn-color: rgba(240, 190, 0, 1);
    swap-used-bad-color: rgba(240, 85, 0, 1);

    swap-used-color: rgba(99, 189, 246, 1);
    swap-pagein-color: rgba(10, 216, 68, 1);
    swap-pageout-color: rgba(255, 20, 20, 1);

    network-in-color: rgba(10, 216, 68, 1);
    network-out-color: rgba(255, 20, 20, 1);

    network-max-in-color: rgba(216, 202, 10, 1);
    network-max-out-color: rgba(4, 0, 240, 1);

    network-warn-color: rgba(240, 190, 0, 1);
    network-bad-color: rgba(240, 85, 0, 1);
}

.gsp-header {
    padding: 0;
    margin: 0;
}

.gsp-container {
    spacing: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.gsp-graph-area {
    background-color: #1e1e1e;
    border-radius: 0.2em;
    border: 1px solid #575757;
    height: 96px;
    width: 360px;
}

.gsp-graph-overlay .label {
    color: white;
    font-size: 0.67em;
    text-align: left;
}

.gsp-indicator {
    background-color: rgba(30, 30, 30, 0.6);
    border-radius: 0.2em;
    border: solid 1px #333;
    width: 10px;
}

.gsp-dropdown {
    border-radius: 7px;
    border: 2px solid rgba(64, 64, 64, 0.6);
    padding: 12px 12px;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    -y-offset: 8px;
    font-size: 9pt;
    font-weight: bold;
    /* height: 264px; */
    width: 384px;
}

.gsp-dropdown .description_label {
    color: rgba(255, 255, 255, 0.695);
    text-align: left;
    width: 256px;
}

.gsp-dropdown .value_label {
    color: rgba(255, 255, 255, 0.695);
    text-align: right;
    width: 108px;
}

.gsp-dropdown .color_label {
    border-color: rgba(255, 255, 255, 0.695);
    border-width: 1px;
    margin-right: 3px;
    width: 11px;
    height: 8px;
}

.bg-cpu-total-color {
    background-color: rgba(99, 189, 246, 1);
}

.bg-cpu-user-color {
    background-color: rgba(10, 216, 68, 1);
}

.bg-cpu-sys-color {
    background-color: rgba(255, 20, 20, 1);
}

.bg-swap-used-color {
    background-color: rgba(99, 189, 246, 1);
}

.bg-swap-pagein-color {
    background-color: rgba(10, 216, 68, 1);
}

.bg-swap-pageout-color {
    background-color: rgba(255, 20, 20, 1);
}

.bg-network-in-color {
    background-color: rgba(10, 216, 68, 1);
}

.bg-network-out-color {
    background-color: rgba(255, 20, 20, 1);
}

.bg-network-max-in-color {
    background-color: rgba(216, 202, 10, 1);
}

.bg-network-max-out-color {
    background-color: rgba(4, 0, 240, 1);
}

.bg-mem-user-color {
    background-color: rgba(10, 216, 68, 1);
}

.bg-mem-cached-color {
    background-color: rgba(90, 90, 40, 1);
}

.bg-mem-locked-color {
    background-color: rgba(255, 20, 20, 1);
}

.bg-mem-used-color {
    background-color: rgba(99, 189, 246, 1);
}

.bg-mem-free-color {
    background-color: rgba(240, 190, 0, 1);
}

.bg-mem-buffer-color {
    background-color: rgba(240, 85, 0, 1);
}

.bg-mem-shared-color {
    background-color: rgb(220, 0, 240);
}

.bg-mem-total-color {
    background-color: white;
}

.gsp-dropdown .title_label {
    color: rgba(255, 255, 255, 0.695);
    padding-top: 8px;
    text-align: left;
    font-size: 1.4em;
    font-weight: bold;
}

.gsp-dropdown .graph {
    height: 128px;
}
